/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /* Change color */
    --hue-color: 210; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 55%);
    --first-color-second: hsl(var(--hue-color), 69%, 40%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light:#fff; 
    --text-color-grey: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --box-img-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

.nav__btns{
  display: flex;
  align-items: center;
}


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 4rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 3rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/

.nav{
  background-color: var(--first-color);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
}

.nav__logo,
.nav__toggle{
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
}

.nav__toggle{
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover{
  color: var(--text-color-light);
}

@media screen and (max-width: 767px){
  .nav{
    height: calc(var(--header-height) - 0.3rem);
  }
  .nav__menu{
    background-color: var(--first-color);
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    transition: .3s;
    overflow-y: auto;
  }
  .nav__end-hide{
    display: none;
  }
  .nav__logo{
    margin-right: auto;
    margin-left: 1.5rem;
  }
  .nav__logo{
    font-size: var(--h3-font-size);
  }
  .nav__list{
    padding-top: 4rem;
  }
  .sub__nav-menu{
    height: 20;
    padding-left: 1rem;
    background-color: var(--first-color-second);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    transition: .3s;
  }
}

.nav__end{
  list-style-type: none;
}

.nav__end-spacer{
  padding-left: 10px;
  padding-right: 10px;
}

.nav__link{
  font-size: var(--normal-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
}

.nav__icon{
  font-size: 1.2rem;
}

.nav__close{
  position: absolute;
  left: 1rem;
  top: .7rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color-light);
}

.nav__close:hover{
  color: var(--text-color-grey);
}

.nav__item{
  padding: 0.7rem;
  border-radius: .2rem;
}

.active,
.active_non-show,
.nav__item:hover{
  background-color: var(--first-color-second);
}

.sub__nav{
  background-color: var(--first-color);
  height: calc(var(--header-height) - .9rem);
  display: flex;
  align-items: center;
}

.sub__menu{
  left: 0;
  min-width: 100%;
  display: none;
}
/* show menu */
.show-menu{
  top: 0;
}
.sub__menu-content:hover{
  color: var(--text-color-grey);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

/*==================== FOOTER ====================*/

.footer{
  padding-top: 2rem;
}

.footer__container{
  row-gap: 3rem;
}

.footer__bg{
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__title{
  font-size: var(--h1-font-size);
  margin-bottom: .25rem;
}

.footer__subtitle{
  font-size: var(--small-font-size);
}

.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover{
  color: var(--first-color-lighter);
}

.footer__social{
  font-size: 1.25rem;
  margin-right: 1.5rem;
}

.footer__social:hover{
  color: var(--first-color-lighter);
}

.footer__copy{
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-light);
  margin-top: 3rem;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
  color: #fff;
}

/*==================== HOME ====================*/
.home__image{
  width: 400px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}

.home__title{
  width: 400px;
}


.home__container{
  justify-content: center;
  grid-template-columns: repeat(3, 2fr);
  margin: 0 2rem;
}
/*==================== BLOGS ====================*/
.blog__image{
  width: 280px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}

.blog__card{
  border-bottom: 1px solid var(--first-color);
  margin-bottom: 1rem;
  justify-content: center;
}

.blog__overview{
  font-size: var(--small-font-size);
}

.blog__kategori{
  font-size: var(--smaller-font-size);
}

.blog__writer{
  font-weight: var(--font-semi-bold);
}

.btn__read{
  margin-bottom: 1rem;
}

.btn__read:hover{
  color: var(--first-color);
}

/*==================== float right ====================*/
.section__float{
  width: 100%;
}

.navigation{
  width: 25%;
  height: 100%;
  float: right;
  margin-right: 1rem;
}


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid var(--first-color-second);
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--text-color-grey);
}

.searchTerm:focus{
  color: var(--first-color);
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid var(--first-color-second);
  background: var(--first-color-second);
  text-align: center;
  color: var(--text-color-light);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.popular__card{
  border-bottom: 1px solid var(--first-color);
  grid-template-columns: 4rem 16rem;
  margin-bottom: 10px;
  margin-right: 1rem;
}

.popular__image{
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.popular__title{
  font-size: var(--small-font-size);
} 

.popular__kategori{
  font-size: var(--smaller-font-size);
  margin-top: 4px;
}

.help__text{
  margin-top: 3rem;
}

.help__img{
  margin-top: 3rem;
}

/*==================== AUTHOR ====================*/
.author__container{
  text-align: center;
}

.author__text{
  margin-bottom: 2rem;
}

.author__img{
  width: 200px;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;
}

.author__bio{
  text-align: center;
}

.bio__text{
  display: inline-block;
  text-align: left;
}

/*==================== FORM ====================*/

.card-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 3rem;
  margin: 2rem;
}

.container-list-form {
  padding: 2rem;
}

input[type=text],
input[type=number],
input[type=email],
input[type=date],
select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn-back,
.btn-submit {
  background-color: #4c51af;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.btn-form:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
  width: .60rem;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}


::-webkit-scrollbar-thumb{
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--text-color-grey);
}
/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 400px){
  .container{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav__link{
    font-size: var(--smaller-font-size);
  }
}

/* For medium devices */
@media screen and (min-width: 400px){
  .container{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .nav__link{
    font-size: var(--small-font-size);
  }
  .footer__container{
    grid-template-columns: repeat(2, 1fr);
  }
  .home__container{
    justify-content: center;
    grid-template-columns: auto;
  }
  .home__image,
  .home__title{
    width: 200px;
  }
}

@media screen and (min-width: 500px) {
  .author__content{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px){
  .navigation{
    float: none;
    display: none;
  }
  .navigation__nonfloat{
    display: block;
  }
  .search__nonfloat{
    margin: 0 2rem;
    display: flex;
  }
  .home__container{
    justify-content: center;
    grid-template-columns: auto;
  }
  .home__image,
  .home__title{
    width: 300px;
  }
}

@media screen and (min-width: 767px){
  .container{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  body{
    margin: 0;
  }

  .section{
    padding: 6rem 0 2rem;
  }
  .section__subtitle{
    margin-bottom: 4rem;
  }

  .header{
    bottom: initial;
  }

  .main,
  .footer__container{
    padding: 0 1rem;
  }

  .nav{
    height: var(--header-height);
    column-gap: 0;
  }

  .nav__link{
    font-size: var(--small-font-size);
  }
  
  .nav__close,
  .nav__toggle,
  .nav__end-list{
    display: none;
  }
  .nav__list{
    display: flex;
    column-gap: .5rem;
  }
  .nav__menu{
    margin-right: auto;
    margin-left: 2rem;
  }
  .nav__item:hover .sub__menu{
    display: block;
    position: fixed;
    margin-top: 10px;
  }
  .active .sub__menu{
    display: block;
    position: fixed;
    margin-top: 10px;
  }
  .list__sub-menu{
    background: var(--first-color-second);
  }
  .sub__menu-app{
    padding-left: 12rem;
  }
  .sub__menu-content{
    margin: 15px;
    padding: 15px;
    color: var(--text-color-light);
  }
  .sub__menu-hide{
    display: none;
  }
  .footer__container{
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg{
    padding: 3rem 3.5rem;
  }
  .footer__links{
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer__socials{
    justify-self: flex-end;
  }
  .footer__copy{
    margin-top: 4.5rem;
  }
  .author__content{
    width: 700px;
    margin: 0 auto;
  }
  .blog__card{
    grid-template-columns: .8fr 1.2fr;
  }
  .navigation__nonfloat{
    display: none;
  }
  
  .search__nonfloat {
    width: 100%;
    position: relative;
    display: none;
  }
}
.home__container{
  justify-content: center;
  grid-template-columns: auto;
}
.home__image{
  width: 500px;
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .header,
  .main{
    padding: 0;
  }

  .nav__link{
    font-size: var(--normal-font-size);
  }

  .blog__card{
    grid-template-columns: .5fr 1.5fr;
  }
  .home__container{
    justify-content: center;
    grid-template-columns: repeat(3, 2fr);
  }
  .home__image,
  .home__title{
    width: 400px;
  }
}